#background{
	-fx-background-image: url("file:MenuPlainBackground.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1366 738;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}